.MarkdownEditor {
    padding: 1%;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

button {
    margin-top: 1%;
    padding: 5px 10px;
    /* border-radius: 5%;
    border-color: white; */
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow:  20px 20px 60px #22252c, 
                 -20px -20px 60px #2e333c;
}

.mdInput {
    padding: 10px;
    border-radius: 5px;
    background-color: #282c34;
    color:white;
    width: 80%;
    height: 70%;
}

.Title {
    font-size: medium;
}

.Output {
    margin: 0 1%;
    padding: 1%;
    /* background-color: #5a5b5c;
    border-radius: 10px; */
    border-radius: 50px;
    background: #282c34;
    box-shadow:  20px 20px 60px #22252c, 
                 -20px -20px 60px #2e333c;
}

.footer {
    font-size:small;
}

a, a:visited, a:hover {
    color: white;
}